input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gelatine {
  animation: gelatine 0.5s;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.animate-scale {
  transform-origin: 0% 0%;
  animation: scale 0.2s;
}

@keyframes scale {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2.3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #222222;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(224, 201, 251);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(143, 190, 245);
}

/* for app */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #222222;
}

::-webkit-scrollbar-thumb {
  background: rgb(224, 201, 251);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(143, 190, 245);
}

/* Slider Animation */
.slide-in-from-right {
  animation: slideInFromRight 0.5s ease-in;
}

.slide-out-to-left {
  animation: slideOutToLeft 0.5s ease-in;
}

.slide-in-from-left {
  animation: slideInFromLeft 0.5s ease-in;
}

.slide-out-to-right {
  animation: slideOutToRight 0.5s ease-in;
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
